<!DOCTYPE html>
<html ng-app="goldRush">
<head>
	<title>Gold Rush</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="goldMapper">

	<div>
		<img class="mapClass" src="goldMap.png" ng-click="clickEvent($event)" >
		<img ng-repeat="obj in xyNotes" ng-click="removeIcon(obj)" style="left : {{obj.x}}px; top : {{obj.y}}px" ng-hide="obj.showIcon" class="iconClass" src="mapIcon.png">
	</div>

</body>
</html>