
*{
	border-sizing: border-box;
}


.mapClass {
	position: relative;
	margin: 0;
}

.iconClass {
	position: absolute;
	margin: 0;
}

.iconTextBox {
	position: absolute;
	margin: 5px 0 0 40px;
}

.submitTextBox {
	position: absolute;
	margin: 5px 0 0 213px;
}

.tooltipClass {
	position: absolute;
	margin-left: 40px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(220,223,230,1);
	border-radius: 10px;
	padding:10px;
	border-style: solid;
	border-color: black;
	border-weight: 1px;
}